body{
    background-repeat: repeat;
}
#homepage-outer{
    background-image:url(../../assets/img/background.png);
    background-opacity:0.3;
}

@media(min-width: var(--bpoint-tablet)){
}

.card_parent{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}